### This notebook is built to combine what've scraped (race result, form record, sectional time and racecard if available) into one dataset

#### Most of the feature engineering are performed in __form record__. Yet, there are 3 things needed to be merged from race_result and sectional time to form record
#### 1) Number of partcipating horses (for normalization)
#### 2) Prize money
#### 3) Section time

##### PS, Some races or even race day could be skipped when crawling. Not sure if because my computer do not have enough ram or whatever other reasons (e.g. the website is blocking).
##### Some steps below can help ensure the completeness of the data.

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
pd.set_option('display.max_rows', 100)

In [2]:
form_record = pd.read_csv('form_record.csv')
race_result = pd.read_csv('race_result.csv', dtype = {'date': str, 'match': str})

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
form_record.head()

,RaceIndex,Pla,Date,RC/Track/Course,Dist,Ground,RaceClass,Draw,Rating,Trainer,Jockey,LBW,WinOdds,ActWt,RunPo,FinishTime,Declare_Horse_Wt,Gear,VideoReplay,horseid
0,356,12,2018-01-21,"ST / Turf / ""A""",2000.0,G,5,12,35,A Lee,M L Yeung,7-3/4,16,126.0,13 13 13 13 12,2.05.83,1095,B/TT,NaN,HK_2012_P405
1,210,03,2017-11-22,"HV / Turf / ""C+3""",2200.0,G,5,6,35,A Lee,M F Poon,1-1/4,8.7,121.0,12 11 10 8 3 3,2.18.54,1095,B/TT,NaN,HK_2012_P405
2,145,01,2017-10-29,"HV / Turf / ""A""",2200.0,GF,5,5,30,A Lee,M L Yeung,1-1/4,5.8,128.0,9 6 5 5 5 1,2.18.77,1086,B/TT,NaN,HK_2012_P405
3,92,04,2017-10-08,"ST / Turf / ""B+2""",2000.0,G,5,2,31,A Lee,M F Poon,2-1/2,7.9,120.0,4 7 5 6 4,2.03.98,1082,B/TT,NaN,HK_2012_P405
4,2,09,2017-09-03,"ST / Turf / ""B""",1600.0,G,5,10,32,A Lee,M F Poon,4,40,118.0,11 9 8 9,1.36.80,1084,B/TT,NaN,HK_2012_P405

In [4]:
form_record['formatted_date'] = pd.to_datetime(form_record['Date'], format='%Y-%m-%d')

form_record.head()

,RaceIndex,Pla,Date,RC/Track/Course,Dist,Ground,RaceClass,Draw,Rating,Trainer,...,LBW,WinOdds,ActWt,RunPo,FinishTime,Declare_Horse_Wt,Gear,VideoReplay,horseid,formatted_date
0,356,12,2018-01-21,"ST / Turf / ""A""",2000.0,G,5,12,35,A Lee,...,7-3/4,16,126.0,13 13 13 13 12,2.05.83,1095,B/TT,NaN,HK_2012_P405,2018-01-21
1,210,03,2017-11-22,"HV / Turf / ""C+3""",2200.0,G,5,6,35,A Lee,...,1-1/4,8.7,121.0,12 11 10 8 3 3,2.18.54,1095,B/TT,NaN,HK_2012_P405,2017-11-22
2,145,01,2017-10-29,"HV / Turf / ""A""",2200.0,GF,5,5,30,A Lee,...,1-1/4,5.8,128.0,9 6 5 5 5 1,2.18.77,1086,B/TT,NaN,HK_2012_P405,2017-10-29
3,92,04,2017-10-08,"ST / Turf / ""B+2""",2000.0,G,5,2,31,A Lee,...,2-1/2,7.9,120.0,4 7 5 6 4,2.03.98,1082,B/TT,NaN,HK_2012_P405,2017-10-08
4,2,09,2017-09-03,"ST / Turf / ""B""",1600.0,G,5,10,32,A Lee,...,4,40,118.0,11 9 8 9,1.36.80,1084,B/TT,NaN,HK_2012_P405,2017-09-03

In [5]:
race_result.head()

,Plc,Horse No,Horse,Jockey,Trainer,ActualWt,Declar_HorseWt,Draw,LBW,RunningPosition,FinishTime,Win_Odds,date,match,cdr,prize_money,horseid
0,1,7.0,TELEPHATIA(P405),M L Yeung,A Lee,123,1049,13,,12 13 13 ...,1:49.08,54,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2012_P405
1,2,1.0,NAMJONG TURBO(N250),K C Leung,P O'Sullivan,129,1079,11,SH,6 6 7 ...,1:49.08,5.4,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2011_N250
2,3,12.0,HEAR THE ROAR(M152),M Guyon,S Woods,118,1192,1,2,9 10 9 ...,1:49.38,3,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2010_M152
3,4,5.0,CASA JUNIOR(M366),K Teetan,T K Ng,127,1062,9,2,5 5 5 ...,1:49.40,55,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2010_M366
4,5,8.0,JOYFUL MISSION(S094),O Doleuze,R Gibson,123,1091,2,2,10 9 10 ...,1:49.40,32,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2013_S094

In [6]:
# https://racing.hkjc.com/racing/information/english/Racing/LocalResults.aspx?RaceDate=2016/10/26&Racecourse=HV&RaceNo=4

# should contain number only
display(race_result[race_result['date'].str.contains('[a-zA-Z]')])

,Plc,Horse No,Horse,Jockey,Trainer,ActualWt,Declar_HorseWt,Draw,LBW,RunningPosition,FinishTime,Win_Odds,date,match,cdr,prize_money,horseid
18257,VOID,1.0,BUDDY BUNDY(T157),N Callan,D Cruz,,,3,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2014_T157,NaN,NaN
18258,VOID,2.0,FLYING MONKEY(T361),J Moreira,W Y So,,,11,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2014_T361,NaN,NaN
18259,VOID,3.0,JUMBO HAPPINESS(V315),C Y Ho,C Fownes,,,2,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V315,NaN,NaN
18260,VOID,4.0,D B PIN(V344),Z Purton,J Size,,,4,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V344,NaN,NaN
18261,VOID,5.0,THE FULL BLOOM(V243),C Schofield,C H Yip,,,6,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V243,NaN,NaN
18262,VOID,6.0,BREEDERS' STAR(V197),D Whyte,D E Ferraris,,,1,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V197,NaN,NaN
18263,VOID,7.0,VERY RICH MAN(V286),N Rawiller,T K Ng,,,12,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V286,NaN,NaN
18264,VOID,8.0,FOX SUNTER(V221),H W Lai,K W Lui,,,10,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V221,NaN,NaN
18265,VOID,9.0,ISAAC(V387),S Clipperton,J Moore,,,7,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V387,NaN,NaN
18266,VOID,10.0,LUCKY SEVEN(V201),O Bosson,P O'Sullivan,,,5,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V201,NaN,NaN
18267,VOID,11.0,THE CHAMP(V271),H N Wong,Y S Tsui,,,9,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V271,NaN,NaN
18268,VOID,12.0,GOLDEN GLORY(T076),K Teetan,A Lee,,,8,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2014_T076,NaN,NaN

In [7]:
# Check if it is the only match that VOID
display(race_result[race_result['Plc'] == 'VOID'])

# Drop VOID races
race_result = race_result.loc[race_result['Plc'] != 'VOID']

,Plc,Horse No,Horse,Jockey,Trainer,ActualWt,Declar_HorseWt,Draw,LBW,RunningPosition,FinishTime,Win_Odds,date,match,cdr,prize_money,horseid
18257,VOID,1.0,BUDDY BUNDY(T157),N Callan,D Cruz,,,3,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2014_T157,NaN,NaN
18258,VOID,2.0,FLYING MONKEY(T361),J Moreira,W Y So,,,11,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2014_T361,NaN,NaN
18259,VOID,3.0,JUMBO HAPPINESS(V315),C Y Ho,C Fownes,,,2,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V315,NaN,NaN
18260,VOID,4.0,D B PIN(V344),Z Purton,J Size,,,4,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V344,NaN,NaN
18261,VOID,5.0,THE FULL BLOOM(V243),C Schofield,C H Yip,,,6,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V243,NaN,NaN
18262,VOID,6.0,BREEDERS' STAR(V197),D Whyte,D E Ferraris,,,1,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V197,NaN,NaN
18263,VOID,7.0,VERY RICH MAN(V286),N Rawiller,T K Ng,,,12,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V286,NaN,NaN
18264,VOID,8.0,FOX SUNTER(V221),H W Lai,K W Lui,,,10,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V221,NaN,NaN
18265,VOID,9.0,ISAAC(V387),S Clipperton,J Moore,,,7,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V387,NaN,NaN
18266,VOID,10.0,LUCKY SEVEN(V201),O Bosson,P O'Sullivan,,,5,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V201,NaN,NaN
18267,VOID,11.0,THE CHAMP(V271),H N Wong,Y S Tsui,,,9,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2015_V271,NaN,NaN
18268,VOID,12.0,GOLDEN GLORY(T076),K Teetan,A Lee,,,8,,,2016/10/26,4,Class 4 - 1000M - (60-40),"HK$ 840,000",HK_2014_T076,NaN,NaN

In [8]:
# Still ran into error in transforming the date into datetime object: pd.to_datetime(race_result['date'], format = '%Y/%m/%d')

# https://racing.hkjc.com/racing/information/english/Racing/LocalResults.aspx?RaceDate=2019/03/23
# Only races not in HK
# No odds data for the races
display(race_result.loc[race_result['date'].str.len() != 10])

,Plc,Horse No,Horse,Jockey,Trainer,ActualWt,Declar_HorseWt,Draw,LBW,RunningPosition,FinishTime,Win_Odds,date,match,cdr,prize_money,horseid
43015,1,4.0,NORDIC WARRIOR(B371),M Chadwick,R Gibson,122,1068,2,,4 3 1,1:09.28,2019/03/23,1,Restricted Race - 1200M,"HK$ 2,000,000",HK_2017_B371,NaN
43016,2,2.0,SMART CHARADE(A314),A Sanna,W Y So,125,1155,4,1 1/4,6 5 2,1:09.46,2019/03/23,1,Restricted Race - 1200M,"HK$ 2,000,000",HK_2016_A314,NaN
43017,3,3.0,GALLANT RETURN(A308),Z Purton,D J Hall,122,1074,1,3 1/4,2 1 3,1:09.76,2019/03/23,1,Restricted Race - 1200M,"HK$ 2,000,000",HK_2016_A308,NaN
43018,4,1.0,HAPPY TOUR(B374),C Schofield,C S Shum,125,1214,6,5 1/2,1 2 4,1:10.15,2019/03/23,1,Restricted Race - 1200M,"HK$ 2,000,000",HK_2017_B374,NaN
43019,5,6.0,EMPIRE OF PATCH(A319),S de Sousa,J Moore,120,1122,3,9 1/4,3 4 5,1:10.77,2019/03/23,1,Restricted Race - 1200M,"HK$ 2,000,000",HK_2016_A319,NaN
43020,6,5.0,MY DEAR(B445),K Teetan,A S Cruz,120,1022,5,17,5 6 6,1:11.98,2019/03/23,1,Restricted Race - 1200M,"HK$ 2,000,000",HK_2017_B445,NaN
43021,1,6.0,DRAGON WARRIOR(V202),C Schofield,K H Ting,127,1198,8,,9 9 5 ...,1:49.60,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2015_V202,NaN
43022,2,9.0,WEALTHY FORTUNE(P324),S de Sousa,K L Man,116,1009,4,1 3/4,5 4 4 ...,1:49.87,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2012_P324,NaN
43023,3,3.0,PEARL FURU(T431),N Callan,P O'Sullivan,132,1162,9,3,6 6 6 ...,1:50.07,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2014_T431,NaN
43024,4,10.0,SURE SUPREME(B233),H N Wong,W Y So,112,1128,10,4 1/2,2 3 3 ...,1:50.31,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2017_B233,NaN
43025,5,2.0,INDIGENOUS STAR(A081),K Teetan,P F Yiu,132,995,3,4 1/2,3 5 7 ...,1:50.32,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2016_A081,NaN
43026,6,5.0,SHINING BRIGHT(B297),U Rispoli,C W Chang,130,989,6,6 1/2,8 7 9 ...,1:50.66,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2017_B297,NaN
43027,7,7.0,CASH COURIER(S417),T H So,D J Hall,118,1179,1,6 3/4,7 8 10 ...,1:50.70,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2013_S417,NaN
43028,8,1.0,MONEY WINNER(A055),K C Leung,Y S Tsui,133,1016,7,7 3/4,10 10 8 ...,1:50.85,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2016_A055,NaN
43029,9,4.0,COME ON WONGCHOY(A285),Z Purton,C S Shum,131,1025,2,8 1/4,1 2 1 ...,1:50.94,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2016_A285,NaN
43030,10,8.0,MY BLESSING(V164),M F Poon,C H Yip,116,1045,5,9 1/4,4 1 2 ...,1:51.10,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2015_V164,NaN
43031,1,3.0,LUCKY HERO(B057),C Y Ho,C S Shum,125,1156,3,,6 7 1,1:10.48,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2017_B057,NaN
43032,2,7.0,GREEN CARD(V126),R Bayliss,J Moore,121,1180,5,HD,8 8 2,1:10.51,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2015_V126,NaN
43033,3,9.0,LADY FIRST(B013),K C Leung,K H Ting,118,1000,1,3/4,4 3 3,1:10.62,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2017_B013,NaN
43034,4,10.0,DOUBLE VALENTINE(A163),K Teetan,A S Cruz,117,1067,8,2,2 2 4,1:10.82,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2016_A163,NaN
43035,5,6.0,E MASTER(A254),C Schofield,C Fownes,121,1135,6,2 1/4,5 5 5,1:10.83,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2016_A254,NaN
43036,6,2.0,HARRIER JET(T372),N Callan,P O'Sullivan,129,1133,2,3 3/4,3 4 6,1:11.10,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2014_T372,NaN
43037,7,1.0,MR GENUINE(S253),Z Purton,D J Hall,133,1046,7,4 3/4,7 6 7,1:11.23,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2013_S253,NaN
43038,8,8.0,THE ONE(B073),A Sanna,Y S Tsui,120,1173,9,5 1/2,9 9 8,1:11.37,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2017_B073,NaN
43039,9,5.0,HEALTHY LUCK(A064),U Rispoli,K L Man,123,1040,4,5 3/4,1 1 9,1:11.39,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2016_A064,NaN
43040,WV,4.0,BIZ POWER(B052),S de Sousa,W Y So,125,,,,,,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2017_B052,NaN
43041,1,6.0,THE CREATETH(A336),S de Sousa,J Moore,122,1086,6,,9 8 1,1:11.42,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2016_A336,NaN
43042,2,2.0,DARING FIT(V398),Z Purton,P O'Sullivan,130,1233,3,1 1/2,5 4 2,1:11.65,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2015_V398,NaN
43043,3,1.0,LOOK ERAS(V123),H N Wong,Y S Tsui,128,1078,7,1 1/2,3 3 3,1:11.67,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2015_V123,NaN
43044,4,5.0,DOLLAR REWARD(A305),N Callan,C S Shum,124,1062,4,1 3/4,4 5 4,1:11.70,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2016_A305,NaN
43045,5,9.0,SUNNY DRAGON(V412),K C Leung,R Gibson,118,1175,2,2,2 2 5,1:11.75,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2015_V412,NaN
43046,6,10.0,SUPER MODEL(B375),M F Poon,C S Shum,115,1127,1,2 3/4,1 1 6,1:11.85,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2017_B375,NaN
43047,7,3.0,MASTER ALBERT(A296),M Chadwick,W Y So,130,1126,5,3 1/4,7 7 7,1:11.94,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2016_A296,NaN
43048,8,4.0,SUPER LEADER(V016),M Harley,C Fownes,129,1158,9,3 1/2,6 6 8,1:11.96,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2015_V016,NaN
43049,9,7.0,BOND ELEGANCE(A007),C Schofield,J Size,121,1068,8,5,8 9 9,1:12.22,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2016_A007,NaN
43050,WV,8.0,RADIANT BUNNY(S418),K Teetan,C H Yip,119,,,,,,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2013_S418,NaN
43051,1,3.0,HAPPY ROCKY(S147),C Schofield,C W Chang,125,1088,4,,7 8 6 ...,2:19.16,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2013_S147,NaN
43052,2,10.0,THE JOY OF GIVING(A249),T H So,C W Chang,111,967,5,1 3/4,8 9 9 ...,2:19.46,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2016_A249,NaN
43053,3,6.0,ISHVARA(S015),M Chadwick,T P Yung,122,1073,1,2 1/4,3 2 4 ...,2:19.51,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2013_S015,NaN
43054,4,2.0,CLEMENT LEGEND(B137),K Teetan,C S Shum,128,1121,3,2 3/4,4 6 3 ...,2:19.58,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2017_B137,NaN
43055,5,4.0,GARLIC YEAH(V039),Z Purton,C H Yip,124,993,7,3 1/4,2 3 5 ...,2:19.67,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2015_V039,NaN
43056,6,1.0,YOU HAVE MY WORD(V149),M Harley,T P Yung,133,1142,6,4,9 10 10 ...,2:19.82,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2015_V149,NaN
43057,7,5.0,GOOD DAYS(A333),N Callan,C S Shum,123,1106,8,4 1/4,5 5 2 ...,2:19.86,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2016_A333,NaN
43058,8,8.0,LE PANACHE(V369),S de Sousa,W Y So,119,1080,9,5 3/4,10 7 8 ...,2:20.08,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2015_V369,NaN
43059,9,9.0,WHAMPOA STAR(B146),K C Leung,Y S Tsui,117,1141,2,8 3/4,6 4 7 ...,2:20.54,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2017_B146,NaN
43060,10,7.0,ABOVE(B345),R Bayliss,J Moore,120,1009,10,9,1 1 1 ...,2:20.59,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2017_B345,NaN

In [9]:
# shfit 2019/03/23 races by one columns start from Win Odds
# get 2019/03/23 races
shift = race_result.loc[(race_result['date'].str.contains('[a-zA-Z]')) | (race_result['date'].str.len() != 10)]

# drop the 2019/03/23 races first in race_result
race_result = race_result.loc[~((race_result['date'].str.contains('[a-zA-Z]')) | (race_result['date'].str.len() != 10))]

# Check if the drop works (should be blank)
print('Check if the drop works (should be blank)')
display(race_result.loc[(race_result['date'].str.contains('[a-zA-Z]')) | (race_result['date'].str.len() != 10)])
print('\n')

# shift
shift[['Win_Odds', 'date', 'match', 'cdr', 'prize_money', 'horseid']] = shift[['Win_Odds', 'date', 'match', 'cdr', 'prize_money', 'horseid']].shift(1, axis=1)

display(shift)

# concat back to race_result
race_result = pd.concat([race_result, shift], ignore_index=True)

Check if the drop works (should be blank)

Empty DataFrame
Columns: [Plc, Horse No, Horse, Jockey, Trainer, ActualWt, Declar_HorseWt, Draw, LBW, RunningPosition, FinishTime, Win_Odds, date, match, cdr, prize_money, horseid]
Index: []

,Plc,Horse No,Horse,Jockey,Trainer,ActualWt,Declar_HorseWt,Draw,LBW,RunningPosition,FinishTime,Win_Odds,date,match,cdr,prize_money,horseid
43015,1,4.0,NORDIC WARRIOR(B371),M Chadwick,R Gibson,122,1068,2,,4 3 1,1:09.28,NaN,2019/03/23,1,Restricted Race - 1200M,"HK$ 2,000,000",HK_2017_B371
43016,2,2.0,SMART CHARADE(A314),A Sanna,W Y So,125,1155,4,1 1/4,6 5 2,1:09.46,NaN,2019/03/23,1,Restricted Race - 1200M,"HK$ 2,000,000",HK_2016_A314
43017,3,3.0,GALLANT RETURN(A308),Z Purton,D J Hall,122,1074,1,3 1/4,2 1 3,1:09.76,NaN,2019/03/23,1,Restricted Race - 1200M,"HK$ 2,000,000",HK_2016_A308
43018,4,1.0,HAPPY TOUR(B374),C Schofield,C S Shum,125,1214,6,5 1/2,1 2 4,1:10.15,NaN,2019/03/23,1,Restricted Race - 1200M,"HK$ 2,000,000",HK_2017_B374
43019,5,6.0,EMPIRE OF PATCH(A319),S de Sousa,J Moore,120,1122,3,9 1/4,3 4 5,1:10.77,NaN,2019/03/23,1,Restricted Race - 1200M,"HK$ 2,000,000",HK_2016_A319
43020,6,5.0,MY DEAR(B445),K Teetan,A S Cruz,120,1022,5,17,5 6 6,1:11.98,NaN,2019/03/23,1,Restricted Race - 1200M,"HK$ 2,000,000",HK_2017_B445
43021,1,6.0,DRAGON WARRIOR(V202),C Schofield,K H Ting,127,1198,8,,9 9 5 ...,1:49.60,NaN,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2015_V202
43022,2,9.0,WEALTHY FORTUNE(P324),S de Sousa,K L Man,116,1009,4,1 3/4,5 4 4 ...,1:49.87,NaN,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2012_P324
43023,3,3.0,PEARL FURU(T431),N Callan,P O'Sullivan,132,1162,9,3,6 6 6 ...,1:50.07,NaN,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2014_T431
43024,4,10.0,SURE SUPREME(B233),H N Wong,W Y So,112,1128,10,4 1/2,2 3 3 ...,1:50.31,NaN,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2017_B233
43025,5,2.0,INDIGENOUS STAR(A081),K Teetan,P F Yiu,132,995,3,4 1/2,3 5 7 ...,1:50.32,NaN,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2016_A081
43026,6,5.0,SHINING BRIGHT(B297),U Rispoli,C W Chang,130,989,6,6 1/2,8 7 9 ...,1:50.66,NaN,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2017_B297
43027,7,7.0,CASH COURIER(S417),T H So,D J Hall,118,1179,1,6 3/4,7 8 10 ...,1:50.70,NaN,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2013_S417
43028,8,1.0,MONEY WINNER(A055),K C Leung,Y S Tsui,133,1016,7,7 3/4,10 10 8 ...,1:50.85,NaN,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2016_A055
43029,9,4.0,COME ON WONGCHOY(A285),Z Purton,C S Shum,131,1025,2,8 1/4,1 2 1 ...,1:50.94,NaN,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2016_A285
43030,10,8.0,MY BLESSING(V164),M F Poon,C H Yip,116,1045,5,9 1/4,4 1 2 ...,1:51.10,NaN,2019/03/23,2,Class 5 - 1800M - (40-0),"HK$ 690,000",HK_2015_V164
43031,1,3.0,LUCKY HERO(B057),C Y Ho,C S Shum,125,1156,3,,6 7 1,1:10.48,NaN,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2017_B057
43032,2,7.0,GREEN CARD(V126),R Bayliss,J Moore,121,1180,5,HD,8 8 2,1:10.51,NaN,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2015_V126
43033,3,9.0,LADY FIRST(B013),K C Leung,K H Ting,118,1000,1,3/4,4 3 3,1:10.62,NaN,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2017_B013
43034,4,10.0,DOUBLE VALENTINE(A163),K Teetan,A S Cruz,117,1067,8,2,2 2 4,1:10.82,NaN,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2016_A163
43035,5,6.0,E MASTER(A254),C Schofield,C Fownes,121,1135,6,2 1/4,5 5 5,1:10.83,NaN,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2016_A254
43036,6,2.0,HARRIER JET(T372),N Callan,P O'Sullivan,129,1133,2,3 3/4,3 4 6,1:11.10,NaN,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2014_T372
43037,7,1.0,MR GENUINE(S253),Z Purton,D J Hall,133,1046,7,4 3/4,7 6 7,1:11.23,NaN,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2013_S253
43038,8,8.0,THE ONE(B073),A Sanna,Y S Tsui,120,1173,9,5 1/2,9 9 8,1:11.37,NaN,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2017_B073
43039,9,5.0,HEALTHY LUCK(A064),U Rispoli,K L Man,123,1040,4,5 3/4,1 1 9,1:11.39,NaN,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2016_A064
43040,WV,4.0,BIZ POWER(B052),S de Sousa,W Y So,125,,,,,,NaN,2019/03/23,3,Class 3 - 1200M - (80-60),"HK$ 1,380,000",HK_2017_B052
43041,1,6.0,THE CREATETH(A336),S de Sousa,J Moore,122,1086,6,,9 8 1,1:11.42,NaN,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2016_A336
43042,2,2.0,DARING FIT(V398),Z Purton,P O'Sullivan,130,1233,3,1 1/2,5 4 2,1:11.65,NaN,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2015_V398
43043,3,1.0,LOOK ERAS(V123),H N Wong,Y S Tsui,128,1078,7,1 1/2,3 3 3,1:11.67,NaN,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2015_V123
43044,4,5.0,DOLLAR REWARD(A305),N Callan,C S Shum,124,1062,4,1 3/4,4 5 4,1:11.70,NaN,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2016_A305
43045,5,9.0,SUNNY DRAGON(V412),K C Leung,R Gibson,118,1175,2,2,2 2 5,1:11.75,NaN,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2015_V412
43046,6,10.0,SUPER MODEL(B375),M F Poon,C S Shum,115,1127,1,2 3/4,1 1 6,1:11.85,NaN,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2017_B375
43047,7,3.0,MASTER ALBERT(A296),M Chadwick,W Y So,130,1126,5,3 1/4,7 7 7,1:11.94,NaN,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2016_A296
43048,8,4.0,SUPER LEADER(V016),M Harley,C Fownes,129,1158,9,3 1/2,6 6 8,1:11.96,NaN,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2015_V016
43049,9,7.0,BOND ELEGANCE(A007),C Schofield,J Size,121,1068,8,5,8 9 9,1:12.22,NaN,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2016_A007
43050,WV,8.0,RADIANT BUNNY(S418),K Teetan,C H Yip,119,,,,,,NaN,2019/03/23,4,Class 4 (Restricted) - 1200M - (60-40),"HK$ 920,000",HK_2013_S418
43051,1,3.0,HAPPY ROCKY(S147),C Schofield,C W Chang,125,1088,4,,7 8 6 ...,2:19.16,NaN,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2013_S147
43052,2,10.0,THE JOY OF GIVING(A249),T H So,C W Chang,111,967,5,1 3/4,8 9 9 ...,2:19.46,NaN,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2016_A249
43053,3,6.0,ISHVARA(S015),M Chadwick,T P Yung,122,1073,1,2 1/4,3 2 4 ...,2:19.51,NaN,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2013_S015
43054,4,2.0,CLEMENT LEGEND(B137),K Teetan,C S Shum,128,1121,3,2 3/4,4 6 3 ...,2:19.58,NaN,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2017_B137
43055,5,4.0,GARLIC YEAH(V039),Z Purton,C H Yip,124,993,7,3 1/4,2 3 5 ...,2:19.67,NaN,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2015_V039
43056,6,1.0,YOU HAVE MY WORD(V149),M Harley,T P Yung,133,1142,6,4,9 10 10 ...,2:19.82,NaN,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2015_V149
43057,7,5.0,GOOD DAYS(A333),N Callan,C S Shum,123,1106,8,4 1/4,5 5 2 ...,2:19.86,NaN,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2016_A333
43058,8,8.0,LE PANACHE(V369),S de Sousa,W Y So,119,1080,9,5 3/4,10 7 8 ...,2:20.08,NaN,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2015_V369
43059,9,9.0,WHAMPOA STAR(B146),K C Leung,Y S Tsui,117,1141,2,8 3/4,6 4 7 ...,2:20.54,NaN,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2017_B146
43060,10,7.0,ABOVE(B345),R Bayliss,J Moore,120,1009,10,9,1 1 1 ...,2:20.59,NaN,2019/03/23,5,Class 4 - 2200M - (60-40),"HK$ 920,000",HK_2017_B345

In [10]:
# Check if the concat and shift works (should be blank)
display(race_result.loc[(race_result['date'].str.contains('[a-zA-Z]')) | (race_result['date'].str.len() != 10)])

Empty DataFrame
Columns: [Plc, Horse No, Horse, Jockey, Trainer, ActualWt, Declar_HorseWt, Draw, LBW, RunningPosition, FinishTime, Win_Odds, date, match, cdr, prize_money, horseid]
Index: []

In [11]:
# create date for merge key later
race_result.loc[:, 'formatted_date'] = pd.to_datetime(race_result['date'], format = '%Y/%m/%d')
race_result.head()

,Plc,Horse No,Horse,Jockey,Trainer,ActualWt,Declar_HorseWt,Draw,LBW,RunningPosition,FinishTime,Win_Odds,date,match,cdr,prize_money,horseid,formatted_date
0,1,7.0,TELEPHATIA(P405),M L Yeung,A Lee,123,1049,13,,12 13 13 ...,1:49.08,54,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2012_P405,2015-01-01
1,2,1.0,NAMJONG TURBO(N250),K C Leung,P O'Sullivan,129,1079,11,SH,6 6 7 ...,1:49.08,5.4,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2011_N250,2015-01-01
2,3,12.0,HEAR THE ROAR(M152),M Guyon,S Woods,118,1192,1,2,9 10 9 ...,1:49.38,3,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2010_M152,2015-01-01
3,4,5.0,CASA JUNIOR(M366),K Teetan,T K Ng,127,1062,9,2,5 5 5 ...,1:49.40,55,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2010_M366,2015-01-01
4,5,8.0,JOYFUL MISSION(S094),O Doleuze,R Gibson,123,1091,2,2,10 9 10 ...,1:49.40,32,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2013_S094,2015-01-01

In [12]:
# Merge / Check Key

form_record['key'] = form_record['horseid'] + '_' + form_record['formatted_date'].astype(str)
race_result['key'] = race_result['horseid'] + '_' + race_result['formatted_date'].astype(str)

# check any duplicate (Horse should not run two races in a day)
# print(form_record['key'].value_counts())
# print(race_result['key'].value_counts())
print(form_record['key'].value_counts().reset_index(name="count").query("count > 1"))
print(race_result['key'].value_counts().reset_index(name="count").query("count > 1"))

Empty DataFrame
Columns: [index, count]
Index: []
Empty DataFrame
Columns: [index, count]
Index: []

In [13]:
# Check if any missing in data

# check any horse is missing first
# It should be blank
print('form_record is missing:', list(set(race_result['horseid'].unique()) - set(form_record['horseid'].unique())), '\n')
print('race_result is missing:', list(set(form_record['horseid'].unique()) - set(race_result['horseid'].unique())))

form_record is missing: []

race_result is missing: [nan]

In [14]:
# Could be upcoming races
# Entries of this runner: ...
form_record.loc[form_record['horseid'].isna()]

,RaceIndex,Pla,Date,RC/Track/Course,Dist,Ground,RaceClass,Draw,Rating,Trainer,...,WinOdds,ActWt,RunPo,FinishTime,Declare_Horse_Wt,Gear,VideoReplay,horseid,formatted_date,key
82338,22/09/2021 H HANDICAP Section 1,HK_2017_B288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [15]:
# drop upcoming races
form_record = form_record.loc[~form_record['horseid'].isna()]

print('form_record is missing:', list(set(race_result['horseid'].unique()) - set(form_record['horseid'].unique())), '\n')
print('race_result is missing:', list(set(form_record['horseid'].unique()) - set(race_result['horseid'].unique())))

form_record is missing: []

race_result is missing: []

In [16]:
# check if any races between 20150101 to present is missing
form_record_after2015 = form_record.loc[form_record['formatted_date'] >= np.datetime64('2015-01-01')]

# what race_result has but form_record_tmp hasn't
form_record_miss = list(set(race_result['key'].unique()) - set(form_record_after2015['key'].unique()))

# what form_record_tmp has but race_result hasn't
race_result_miss = list(set(form_record_after2015['key'].unique()) - set(race_result['key'].unique()))

# form record use horseid as crawling key (blank is expected)
print('form_record has to crawl on:\n', list(race_result.loc[race_result['key'].isin(form_record_miss)]['horseid'].unique()))

# race result use date as crawling key (blank is expected)
print('\nrace_result has to crawl on:\n', list(form_record_after2015.loc[form_record_after2015['key'].isin(race_result_miss)]['formatted_date'].dt.strftime('%Y/%m/%d').unique()))

form_record has to crawl on:
 ['HK_2019_D318', 'HK_2020_E227', 'HK_2018_C027', 'HK_2020_E129']

race_result has to crawl on:
 []

In [17]:
# WV matches that didn't appear in form_record

# If the date is upcoming races, drop and proceed
print(form_record_miss)

race_result = race_result.loc[~race_result['key'].isin(form_record_miss)]

['HK_2020_E129_2021-09-19', 'HK_2020_E227_2021-09-19', 'HK_2018_C027_2021-09-19', 'HK_2019_D318_2021-09-19']

In [18]:
# Find all the date of historical races before 2015/01/01 in which horses in our intereseted period are involved
# You can think of we are building a database that contain a full record of our interested horses.

race_result_comp = form_record.loc[form_record['formatted_date'] < np.datetime64('2015-01-01')]

# races that needed to be crawl as complement
print("race_result_comp:", list(race_result_comp['formatted_date'].dt.strftime('%Y/%m/%d').sort_values().unique()))

# number of races
len(race_result_comp['formatted_date'].unique())

race_result_comp: ['2007/12/15', '2008/02/09', '2008/03/09', '2008/09/21', '2008/10/19', '2008/10/26', '2008/11/08', '2008/11/16', '2008/11/30', '2009/01/01', '2009/01/04', '2009/01/07', '2009/01/28', '2009/02/11', '2009/02/15', '2009/02/22', '2009/03/01', '2009/03/07', '2009/03/15', '2009/03/22', '2009/03/28', '2009/04/05', '2009/04/13', '2009/04/22', '2009/04/26', '2009/05/01', '2009/05/06', '2009/05/17', '2009/05/21', '2009/05/31', '2009/06/03', '2009/06/07', '2009/06/13', '2009/06/21', '2009/06/28', '2009/07/01', '2009/09/13', '2009/09/20', '2009/10/01', '2009/10/07', '2009/10/11', '2009/10/17', '2009/10/21', '2009/10/25', '2009/11/01', '2009/11/04', '2009/11/07', '2009/11/15', '2009/11/18', '2009/11/22', '2009/11/25', '2009/11/29', '2009/12/02', '2009/12/06', '2009/12/09', '2009/12/13', '2009/12/16', '2009/12/19', '2009/12/23', '2009/12/27', '2010/01/01', '2010/01/06', '2010/01/10', '2010/01/13', '2010/01/16', '2010/01/20', '2010/01/31', '2010/02/03', '2010/02/07', '2010/02/10', '2010/02/16', '2010/02/21', '2010/02/24', '2010/02/28', '2010/03/03', '2010/03/06', '2010/03/10', '2010/03/14', '2010/03/21', '2010/03/24', '2010/03/28', '2010/03/31', '2010/04/04', '2010/04/10', '2010/04/21', '2010/04/25', '2010/05/01', '2010/05/05', '2010/05/08', '2010/05/12', '2010/05/16', '2010/05/19', '2010/05/23', '2010/05/30', '2010/06/02', '2010/06/06', '2010/06/09', '2010/06/12', '2010/06/16', '2010/06/20', '2010/06/27', '2010/07/01', '2010/07/04', '2010/07/07', '2010/07/11', '2010/07/14', '2010/09/05', '2010/09/08', '2010/09/12', '2010/09/15', '2010/09/18', '2010/09/23', '2010/09/26', '2010/10/01', '2010/10/06', '2010/10/10', '2010/10/13', '2010/10/17', '2010/10/20', '2010/10/24', '2010/10/31', '2010/11/03', '2010/11/06', '2010/11/10', '2010/11/14', '2010/11/17', '2010/11/21', '2010/11/24', '2010/11/28', '2010/12/01', '2010/12/04', '2010/12/08', '2010/12/12', '2010/12/15', '2010/12/19', '2010/12/23', '2010/12/27', '2011/01/01', '2011/01/05', '2011/01/09', '2011/01/12', '2011/01/16', '2011/01/19', '2011/01/23', '2011/01/26', '2011/01/30', '2011/02/05', '2011/02/09', '2011/02/12', '2011/02/16', '2011/02/20', '2011/02/23', '2011/02/27', '2011/03/02', '2011/03/06', '2011/03/09', '2011/03/12', '2011/03/16', '2011/03/20', '2011/03/23', '2011/03/27', '2011/03/30', '2011/04/03', '2011/04/06', '2011/04/09', '2011/04/13', '2011/04/17', '2011/04/20', '2011/04/25', '2011/05/01', '2011/05/04', '2011/05/07', '2011/05/10', '2011/05/15', '2011/05/18', '2011/05/21', '2011/05/25', '2011/05/29', '2011/06/01', '2011/06/05', '2011/06/08', '2011/06/11', '2011/06/15', '2011/06/19', '2011/06/22', '2011/06/26', '2011/07/01', '2011/07/06', '2011/07/10', '2011/09/11', '2011/09/14', '2011/09/18', '2011/09/21', '2011/09/25', '2011/09/28', '2011/10/01', '2011/10/06', '2011/10/09', '2011/10/12', '2011/10/16', '2011/10/19', '2011/10/23', '2011/10/26', '2011/10/30', '2011/11/05', '2011/11/09', '2011/11/13', '2011/11/16', '2011/11/20', '2011/11/23', '2011/11/27', '2011/11/30', '2011/12/04', '2011/12/07', '2011/12/11', '2011/12/14', '2011/12/17', '2011/12/21', '2011/12/27', '2012/01/01', '2012/01/04', '2012/01/08', '2012/01/11', '2012/01/15', '2012/01/18', '2012/01/21', '2012/01/25', '2012/01/29', '2012/02/01', '2012/02/05', '2012/02/08', '2012/02/11', '2012/02/15', '2012/02/19', '2012/02/22', '2012/02/26', '2012/02/29', '2012/03/04', '2012/03/07', '2012/03/10', '2012/03/14', '2012/03/18', '2012/03/21', '2012/03/25', '2012/03/28', '2012/04/01', '2012/04/09', '2012/04/15', '2012/04/18', '2012/04/21', '2012/04/25', '2012/04/29', '2012/05/02', '2012/05/06', '2012/05/09', '2012/05/12', '2012/05/16', '2012/05/19', '2012/05/27', '2012/05/30', '2012/06/03', '2012/06/06', '2012/06/09', '2012/06/13', '2012/06/17', '2012/06/20', '2012/06/24', '2012/07/01', '2012/07/04', '2012/07/08', '2012/07/11', '2012/07/15', '2012/09/08', '2012/09/12', '2012/09/16', '2012/09/19', '2012/09/23', '2012/09/26', '2012/10/01', '2012/10/06', '2012/10/10', '2012/10/14', '2012/10/17', '2012/10/21', '2012/10/24', '2012/10/28', '2012/11/04', '2012/11/07', '2012/11/10', '2012/11/14', '2012/11/18', '2012/11/21', '2012/11/25', '2012/11/28', '2012/12/02', '2012/12/05', '2012/12/09', '2012/12/12', '2012/12/16', '2012/12/19', '2012/12/22', '2012/12/28', '2013/01/01', '2013/01/06', '2013/01/09', '2013/01/12', '2013/01/16', '2013/01/20', '2013/01/23', '2013/01/27', '2013/01/30', '2013/02/02', '2013/02/06', '2013/02/12', '2013/02/17', '2013/02/20', '2013/02/24', '2013/02/27', '2013/03/02', '2013/03/06', '2013/03/10', '2013/03/13', '2013/03/17', '2013/03/20', '2013/03/24', '2013/03/27', '2013/04/01', '2013/04/07', '2013/04/10', '2013/04/14', '2013/04/17', '2013/04/20', '2013/04/24', '2013/04/28', '2013/05/01', '2013/05/05', '2013/05/08', '2013/05/11', '2013/05/15', '2013/05/18', '2013/05/22', '2013/05/26', '2013/05/29', '2013/06/02', '2013/06/05', '2013/06/08', '2013/06/12', '2013/06/16', '2013/06/19', '2013/06/23', '2013/06/26', '2013/07/01', '2013/07/04', '2013/07/07', '2013/07/10', '2013/09/08', '2013/09/11', '2013/09/15', '2013/09/17', '2013/09/25', '2013/10/01', '2013/10/06', '2013/10/09', '2013/10/12', '2013/10/16', '2013/10/20', '2013/10/23', '2013/10/27', '2013/10/30', '2013/11/03', '2013/11/06', '2013/11/09', '2013/11/13', '2013/11/17', '2013/11/20', '2013/11/24', '2013/11/27', '2013/12/01', '2013/12/04', '2013/12/08', '2013/12/11', '2013/12/15', '2013/12/18', '2013/12/21', '2013/12/26', '2013/12/29', '2014/01/01', '2014/01/05', '2014/01/08', '2014/01/11', '2014/01/15', '2014/01/19', '2014/01/22', '2014/01/26', '2014/02/02', '2014/02/05', '2014/02/08', '2014/02/12', '2014/02/16', '2014/02/19', '2014/02/23', '2014/02/26', '2014/03/01', '2014/03/05', '2014/03/09', '2014/03/12', '2014/03/16', '2014/03/19', '2014/03/23', '2014/03/26', '2014/03/30', '2014/04/02', '2014/04/06', '2014/04/09', '2014/04/13', '2014/04/16', '2014/04/21', '2014/04/27', '2014/04/30', '2014/05/04', '2014/05/07', '2014/05/10', '2014/05/14', '2014/05/17', '2014/05/21', '2014/05/25', '2014/05/28', '2014/06/01', '2014/06/05', '2014/06/08', '2014/06/11', '2014/06/15', '2014/06/18', '2014/06/22', '2014/06/25', '2014/06/28', '2014/07/01', '2014/07/06', '2014/09/14', '2014/09/17', '2014/09/21', '2014/09/24', '2014/09/27', '2014/10/01', '2014/10/05', '2014/10/08', '2014/10/12', '2014/10/15', '2014/10/19', '2014/10/22', '2014/10/26', '2014/10/29', '2014/11/02', '2014/11/09', '2014/11/12', '2014/11/15', '2014/11/19', '2014/11/23', '2014/11/26', '2014/11/30', '2014/12/03', '2014/12/07', '2014/12/10', '2014/12/14', '2014/12/17', '2014/12/20', '2014/12/28']

467

### After crawling complement race result

In [19]:
# check on comp
race_result_comp = pd.read_csv('/Users/lauchunlok/HKJC-Scraping/clean/race_result_comp.csv', dtype = {'date': str, 'match': str})

# check anomaly: date has character or length is no equal to 10
race_result_comp.loc[(race_result_comp['date'].str.contains('[a-zA-Z]')) | (race_result_comp['date'].str.len() != 10)]

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Plc,Horse No,Horse,Jockey,Trainer,ActualWt,Declar_HorseWt,Draw,LBW,RunningPosition,FinishTime,Win_Odds,date,match,cdr,prize_money,horseid
0,1,11.0,ARISTOCRACY(CG070),Z Purton,C S Shum,120,1104,11,,1:41.20,16,2007/12/15,1,Class 5 - 1650M - (40-10),"HK$ 465,000",HK_2005_G070,NaN
1,2,4.0,COULDN'T CARE LESS(CD009),S Dye,A Schutz,126,1080,1,NOSE,1:41.20,4.2,2007/12/15,1,Class 5 - 1650M - (40-10),"HK$ 465,000",HK_2003_D009,NaN
2,3,5.0,AS YOU WISH(CE290),A Delpech,B K Ng,125,1048,7,N,1:41.30,12,2007/12/15,1,Class 5 - 1650M - (40-10),"HK$ 465,000",HK_2004_E290,NaN
3,4,7.0,NOBLE ZOOM(CC298),P H Lo,A Lee,118,1084,5,1 1/2,1:41.40,11,2007/12/15,1,Class 5 - 1650M - (40-10),"HK$ 465,000",HK_2002_C298,NaN
4,5,12.0,MASTER YING(CB249),E Saint Martin,T K Ng,119,1166,4,1 1/2,1:41.40,9.3,2007/12/15,1,Class 5 - 1650M - (40-10),"HK$ 465,000",HK_2001_B249,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12260,NaN,10.0,BILLION(CH316),Y T Cheng,K W Lui,,,13,,,2010/05/30,11,Class 2 - 1600M - (100-80),"HK$ 1,150,000",HK_2006_H316,NaN,NaN
12261,NaN,11.0,JOLLY GOOD(L134),W M Lai,S Woods,,,10,,,2010/05/30,11,Class 2 - 1600M - (100-80),"HK$ 1,150,000",HK_2009_L134,NaN,NaN
12262,NaN,12.0,JOHNSON(J305),M Du Plessis,D J Hall,,,14,,,2010/05/30,11,Class 2 - 1600M - (100-80),"HK$ 1,150,000",HK_2007_J305,NaN,NaN
12263,NaN,13.0,PACKING BUDDY(K264),T H So,L Ho,,,6,,,2010/05/30,11,Class 2 - 1600M - (100-80),"HK$ 1,150,000",HK_2008_K264,NaN,NaN
12264,NaN,14.0,ARION OF CHIU TON(K136),G Cheyne,A T Millard,,,1,,,2010/05/30,11,Class 2 - 1600M - (100-80),"HK$ 1,150,000",HK_2008_K136,NaN,NaN

In [20]:
# some date go into the column Win_Odds and some go into the column FinishTime
# and look into why

# races that are too old that running position is not recorded
print(race_result_comp.loc[(race_result_comp['date'].str.contains('[a-zA-Z]')) | (race_result_comp['date'].str.len() != 10)]['Win_Odds'].value_counts())

# 2010/05/30
# This race has been abandoned or not offered
# https://racing.hkjc.com/racing/information/english/Racing/LocalResults.aspx?RaceDate=2010/05/30&Racecourse=ST&RaceNo=10
print(race_result_comp.loc[(race_result_comp['date'].str.contains('[a-zA-Z]')) | (race_result_comp['date'].str.len() != 10)]['FinishTime'].value_counts())

2008/02/09    150
2008/03/09    140
2007/12/15    138
10             14
11             14
Name: Win_Odds, dtype: int64
99            32
2010/05/30    28
13            13
11            12
17            12
              ..
79             1
64             1
85             1
1.9            1
4.3            1
Name: FinishTime, Length: 147, dtype: int64

In [21]:
# dropping 2010/05/30
race_result_comp.dropna(subset=['Plc'], inplace=True) # not shiftable

# shift old races that do not have running position by one columns start from running position
# get old races
old_race_result_comp = race_result_comp.loc[(race_result_comp['date'].str.contains('[a-zA-Z]')) | (race_result_comp['date'].str.len() != 10)]

# drop the old races first in race_result_comp
race_result_comp = race_result_comp.loc[~((race_result_comp['date'].str.contains('[a-zA-Z]')) | (race_result_comp['date'].str.len() != 10))]

print('Check if the drop works (should be blank):\n')
display(race_result_comp.loc[(race_result_comp['date'].str.contains('[a-zA-Z]')) | (race_result_comp['date'].str.len() != 10)])

# shift
old_race_result_comp[['RunningPosition', 'FinishTime', 'Win_Odds', 'date', 
                      'match', 'cdr', 'prize_money', 'horseid']] = old_race_result_comp[['RunningPosition', 'FinishTime', 'Win_Odds', 'date', 
                                                                                         'match', 'cdr', 'prize_money', 'horseid']].shift(1, axis=1)
print('Check if the shift works:\n')
display(old_race_result_comp)


# concat back to race_result_comp
race_result_comp = pd.concat([race_result_comp, old_race_result_comp], ignore_index=True)
# display to check again
print('Check if the concat and shift works (should be blank):\n')
display(race_result_comp.loc[(race_result_comp['date'].str.contains('[a-zA-Z]')) | (race_result_comp['date'].str.len() != 10)])

Check if the drop works (should be blank):

Empty DataFrame
Columns: [Plc, Horse No, Horse, Jockey, Trainer, ActualWt, Declar_HorseWt, Draw, LBW, RunningPosition, FinishTime, Win_Odds, date, match, cdr, prize_money, horseid]
Index: []

Check if the shift works:

,Plc,Horse No,Horse,Jockey,Trainer,ActualWt,Declar_HorseWt,Draw,LBW,RunningPosition,FinishTime,Win_Odds,date,match,cdr,prize_money,horseid
0,1,11.0,ARISTOCRACY(CG070),Z Purton,C S Shum,120,1104,11,,NaN,1:41.20,16,2007/12/15,1,Class 5 - 1650M - (40-10),"HK$ 465,000",HK_2005_G070
1,2,4.0,COULDN'T CARE LESS(CD009),S Dye,A Schutz,126,1080,1,NOSE,NaN,1:41.20,4.2,2007/12/15,1,Class 5 - 1650M - (40-10),"HK$ 465,000",HK_2003_D009
2,3,5.0,AS YOU WISH(CE290),A Delpech,B K Ng,125,1048,7,N,NaN,1:41.30,12,2007/12/15,1,Class 5 - 1650M - (40-10),"HK$ 465,000",HK_2004_E290
3,4,7.0,NOBLE ZOOM(CC298),P H Lo,A Lee,118,1084,5,1 1/2,NaN,1:41.40,11,2007/12/15,1,Class 5 - 1650M - (40-10),"HK$ 465,000",HK_2002_C298
4,5,12.0,MASTER YING(CB249),E Saint Martin,T K Ng,119,1166,4,1 1/2,NaN,1:41.40,9.3,2007/12/15,1,Class 5 - 1650M - (40-10),"HK$ 465,000",HK_2001_B249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,10,9.0,BODACIOUS(CD170),M W Leung,Y S Tsui,116,1060,6,6 1/4,NaN,1:23.40,28,2008/03/09,11,Class 3 - 1400M - (80-60),"HK$ 780,000",HK_2003_D170
424,11,7.0,CIRCUIT HERO(CG304),O Doleuze,A Lee,120,1058,3,6 1/2,NaN,1:23.40,9.2,2008/03/09,11,Class 3 - 1400M - (80-60),"HK$ 780,000",HK_2005_G304
425,12,11.0,SCOOT DA LOOT(CH274),F Coetzee,A Schutz,118,962,13,6 3/4,NaN,1:23.40,24,2008/03/09,11,Class 3 - 1400M - (80-60),"HK$ 780,000",HK_2006_H274
426,13,5.0,MAGIC TURBO(J098),E Wilson,T W Leung,122,1034,1,7 3/4,NaN,1:23.60,98,2008/03/09,11,Class 3 - 1400M - (80-60),"HK$ 780,000",HK_2007_J098
427,14,1.0,WIN AGAIN(CD371),D Beadman,J Moore,133,1225,14,13,NaN,1:24.40,48,2008/03/09,11,Class 3 - 1400M - (80-60),"HK$ 780,000",HK_2003_D371

Check if the concat and shift works (should be blank):

Empty DataFrame
Columns: [Plc, Horse No, Horse, Jockey, Trainer, ActualWt, Declar_HorseWt, Draw, LBW, RunningPosition, FinishTime, Win_Odds, date, match, cdr, prize_money, horseid]
Index: []

In [22]:
# race_result_comp merge key
race_result_comp.loc[:, 'formatted_date'] = pd.to_datetime(race_result_comp['date'], format = '%Y/%m/%d')
race_result_comp['key'] = race_result_comp['horseid'] + '_' + race_result_comp['formatted_date'].astype(str)

# check missing
# race result comp should have no missing
form_record_before2015 = form_record[form_record['formatted_date'] < np.datetime64('2015-01-01')]

race_result_comp_miss = list(set(form_record_before2015['key'].unique()) - set(race_result_comp['key'].unique()))

print('race_result_comp is missing:', race_result_comp_miss)

# If not blank, use below to get date that race_result has to crawl on 
# form_record_tmp[form_record_tmp['key'].isin(race_result_comp_miss)]['formatted_date'].dt.strftime('%Y/%m/%d').unique()

race_result_comp is missing: []

In [23]:
race_result_full = pd.concat([race_result, race_result_comp], ignore_index=True)

# race_result_full.to_csv('race_result_full.csv', index=False)

# create prize_money table
# match might be read as int or str sometime. So merge is mostly relied on key
prize_money_table = race_result_full.groupby(['key'], as_index=False)['prize_money'].last()

### Merge sectional_time to race_result_full

In [24]:
sectional_time = pd.read_csv('sectional_time.csv')

sectional_time.head()

,finishing_order,horse_no,horse,time,section_time_1,section_time_2,section_time_3,section_time_4,section_time_5,section_time_6,margin_behind_1,margin_behind_2,margin_behind_3,margin_behind_4,margin_behind_5,margin_behind_6,date,match
0,1,7,TELEPHATIA(P405),1:49.08,14.91,22.54,23.42,24.31,23.90,NaN,7-3/4,15-1/4,12,5-1/4,SH,NaN,01/01/2015,1
1,2,1,NAMJONG TURBO(N250),1:49.08,13.95,21.86,24.10,24.75,24.42,NaN,1-3/4,5,6,2,SH,NaN,01/01/2015,1
2,3,12,HEAR THE ROAR(M152),1:49.38,14.51,22.30,23.38,24.59,24.60,NaN,5-1/4,11-1/4,7-3/4,2-3/4,2,NaN,01/01/2015,1
3,4,5,CASA JUNIOR(M366),1:49.40,13.79,21.82,23.98,25.15,24.66,NaN,3/4,3-3/4,4,2-1/2,2,NaN,01/01/2015,1
4,5,8,JOYFUL MISSION(S094),1:49.40,14.71,22.02,23.70,24.63,24.34,NaN,6-1/2,10-3/4,9-1/4,4-1/2,2,NaN,01/01/2015,1

In [25]:
sectional_time.loc[:, 'formatted_date'] = pd.to_datetime(sectional_time['date'], format = '%d/%m/%Y')
sectional_time.head()

,finishing_order,horse_no,horse,time,section_time_1,section_time_2,section_time_3,section_time_4,section_time_5,section_time_6,margin_behind_1,margin_behind_2,margin_behind_3,margin_behind_4,margin_behind_5,margin_behind_6,date,match,formatted_date
0,1,7,TELEPHATIA(P405),1:49.08,14.91,22.54,23.42,24.31,23.90,NaN,7-3/4,15-1/4,12,5-1/4,SH,NaN,01/01/2015,1,2015-01-01
1,2,1,NAMJONG TURBO(N250),1:49.08,13.95,21.86,24.10,24.75,24.42,NaN,1-3/4,5,6,2,SH,NaN,01/01/2015,1,2015-01-01
2,3,12,HEAR THE ROAR(M152),1:49.38,14.51,22.30,23.38,24.59,24.60,NaN,5-1/4,11-1/4,7-3/4,2-3/4,2,NaN,01/01/2015,1,2015-01-01
3,4,5,CASA JUNIOR(M366),1:49.40,13.79,21.82,23.98,25.15,24.66,NaN,3/4,3-3/4,4,2-1/2,2,NaN,01/01/2015,1,2015-01-01
4,5,8,JOYFUL MISSION(S094),1:49.40,14.71,22.02,23.70,24.63,24.34,NaN,6-1/2,10-3/4,9-1/4,4-1/2,2,NaN,01/01/2015,1,2015-01-01

In [26]:
# get the horse name before parentheses
sectional_time['short_key'] = sectional_time['horse'].str.extract('\(([^)]+)') 
sectional_time['short_key'] = sectional_time['short_key'] + '_' + sectional_time['formatted_date'].astype(str)

sectional_time.head()

,finishing_order,horse_no,horse,time,section_time_1,section_time_2,section_time_3,section_time_4,section_time_5,section_time_6,margin_behind_1,margin_behind_2,margin_behind_3,margin_behind_4,margin_behind_5,margin_behind_6,date,match,formatted_date,short_key
0,1,7,TELEPHATIA(P405),1:49.08,14.91,22.54,23.42,24.31,23.90,NaN,7-3/4,15-1/4,12,5-1/4,SH,NaN,01/01/2015,1,2015-01-01,P405_2015-01-01
1,2,1,NAMJONG TURBO(N250),1:49.08,13.95,21.86,24.10,24.75,24.42,NaN,1-3/4,5,6,2,SH,NaN,01/01/2015,1,2015-01-01,N250_2015-01-01
2,3,12,HEAR THE ROAR(M152),1:49.38,14.51,22.30,23.38,24.59,24.60,NaN,5-1/4,11-1/4,7-3/4,2-3/4,2,NaN,01/01/2015,1,2015-01-01,M152_2015-01-01
3,4,5,CASA JUNIOR(M366),1:49.40,13.79,21.82,23.98,25.15,24.66,NaN,3/4,3-3/4,4,2-1/2,2,NaN,01/01/2015,1,2015-01-01,M366_2015-01-01
4,5,8,JOYFUL MISSION(S094),1:49.40,14.71,22.02,23.70,24.63,24.34,NaN,6-1/2,10-3/4,9-1/4,4-1/2,2,NaN,01/01/2015,1,2015-01-01,S094_2015-01-01

In [27]:
# get the horse name before parentheses
race_result_full['short_key'] = race_result_full['Horse'].str.extract('\(([^)]+)') 
race_result_full['short_key'] = race_result_full['short_key'] + '_' + race_result_full['formatted_date'].astype(str)

race_result_full.head()

,Plc,Horse No,Horse,Jockey,Trainer,ActualWt,Declar_HorseWt,Draw,LBW,RunningPosition,FinishTime,Win_Odds,date,match,cdr,prize_money,horseid,formatted_date,key,short_key
0,1,7.0,TELEPHATIA(P405),M L Yeung,A Lee,123,1049,13,,12 13 13 ...,1:49.08,54,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2012_P405,2015-01-01,HK_2012_P405_2015-01-01,P405_2015-01-01
1,2,1.0,NAMJONG TURBO(N250),K C Leung,P O'Sullivan,129,1079,11,SH,6 6 7 ...,1:49.08,5.4,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2011_N250,2015-01-01,HK_2011_N250_2015-01-01,N250_2015-01-01
2,3,12.0,HEAR THE ROAR(M152),M Guyon,S Woods,118,1192,1,2,9 10 9 ...,1:49.38,3,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2010_M152,2015-01-01,HK_2010_M152_2015-01-01,M152_2015-01-01
3,4,5.0,CASA JUNIOR(M366),K Teetan,T K Ng,127,1062,9,2,5 5 5 ...,1:49.40,55,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2010_M366,2015-01-01,HK_2010_M366_2015-01-01,M366_2015-01-01
4,5,8.0,JOYFUL MISSION(S094),O Doleuze,R Gibson,123,1091,2,2,10 9 10 ...,1:49.40,32,2015/01/01,1,Class 5 - 1800M - (40-0),"HK$ 575,000",HK_2013_S094,2015-01-01,HK_2013_S094_2015-01-01,S094_2015-01-01

In [28]:
# drop invalid place in race_result_full since those will not have sectional time or margin behind in sectiontal time
print(race_result_full['Plc'].value_counts())

# Note: You can drop any invalid races in race_result but not in form_record
# because we need to keep the full record of every horses to do feature engineering

# Preserve DH for prize money calculation: need to divide in portion
race_result_full['Plc_PM'] = race_result_full['Plc']

1        9808
2        9781
3        9768
6        9751
4        9736
5        9735
7        9720
8        9656
9        9530
10       9300
11       8914
12       8133
13       4055
14       3397
WV       1949
WV A      385
4 DH      119
WX         94
PU         84
UR         79
3 DH       72
5 DH       64
6 DH       58
WX A       58
2 DH       54
7 DH       48
1 DH       46
8 DH       38
9 DH       36
10 DH      34
FE         28
DNF        26
11 DH      20
TNP        17
DISQ       14
12 DH       4
WXNR        2
Name: Plc, dtype: int64

In [29]:
# Horse that in the same finishing position
race_result_full['Plc'] = race_result_full['Plc'].str.replace(' DH', '')

# drop invalid Place
race_result_full = race_result_full.loc[race_result_full['Plc'].str.contains('^[0-9]+$')]

race_result_full['Plc'].value_counts()

4     9855
1     9854
3     9840
2     9835
6     9809
5     9799
7     9768
8     9694
9     9566
10    9334
11    8934
12    8137
13    4055
14    3397
Name: Plc, dtype: int64

In [30]:
# same for sectional_time
print(sectional_time['finishing_order'].value_counts())

# Horse that in the same finishing position
sectional_time['finishing_order'] = sectional_time['finishing_order'].str.replace(' DH', '')
sectional_time['finishing_order'] = sectional_time['finishing_order'].str.replace(' ', '') #fixing the format

# drop invalid Place
sectional_time = sectional_time.loc[sectional_time['finishing_order'].str.contains('^[0-9]+$')]

sectional_time['finishing_order'].value_counts()

1        9770
2        9748
3        9736
6        9719
4        9704
5        9701
7        9689
8        9626
9        9500
10       9268
11       8887
12       8109
13       4029
14       3380
 WV       616
 WV-A     383
4 DH      121
 PU        84
 UR        78
3 DH       70
5 DH       64
 WX-A      58
6 DH       58
2 DH       54
1 DH       46
7 DH       46
 WX        43
8 DH       38
9 DH       36
10 DH      34
 FE        28
 DNF       26
11 DH      20
 TNP       17
 DISQ      14
12 DH       4
            4
 WXNR       2
Name: finishing_order, dtype: int64

4     9825
1     9816
3     9806
2     9802
6     9777
5     9765
7     9735
8     9664
9     9536
10    9302
11    8907
12    8113
13    4029
14    3380
Name: finishing_order, dtype: int64

In [31]:
# what race_result_full has but sectional_time hasn't
sectional_time_miss = list(set(race_result_full['short_key'].unique()) - set(sectional_time['short_key'].unique()))

# what sectional_time has but race_result_full hasn't
race_result_miss = list(set(sectional_time['short_key'].unique()) - set(race_result_full['short_key'].unique()))

'''after dropping'''
# should only contain races that are too old that have no record of running position
print('should only contain races that are too old that have no record of running position')
print('sectional time has to crawl on:\n', list(race_result_full.loc[race_result_full['short_key'].isin(sectional_time_miss)]['formatted_date'].dt.strftime('%d/%m/%Y').unique()))

# it should be blank
print('\nrace_result has to crawl on:\n', list(sectional_time.loc[sectional_time['short_key'].isin(race_result_miss)]['formatted_date'].dt.strftime('%Y/%m/%d').unique()))

# for checking
# race_result_full.loc[race_result_full['short_key'].isin(sectional_time_miss)]
# sectional_time.loc[sectional_time['short_key'].isin(race_result_miss)]

#race_result_full.loc[race_result_full['short_key'].isin(sectional_time_miss)][['Plc', 'date']]

sectional time has to crawl on:
 ['15/12/2007', '09/02/2008', '09/03/2008']

race_result has to crawl on:
 []

In [32]:
# Fix the weird cases
# https://racing.hkjc.com/racing/information/english/Racing/DisplaySectionalTime.aspx?RaceDate=03/03/2018&RaceNo=5
# https://racing.hkjc.com/racing/information/english/Racing/DisplaySectionalTime.aspx?RaceDate=25/06/2017&RaceNo=3

sectional_time[sectional_time['section_time_2'].isnull()]

,finishing_order,horse_no,horse,time,section_time_1,section_time_2,section_time_3,section_time_4,section_time_5,section_time_6,margin_behind_1,margin_behind_2,margin_behind_3,margin_behind_4,margin_behind_5,margin_behind_6,date,match,formatted_date,short_key
25770,5,1,PAKISTAN STAR(V325),2:47.10,15.23,NaN,NaN,NaN,NaN,NaN,6-1/4,TO,NaN,NaN,NaN,NaN,25/06/2017,3,2017-06-25,V325_2017-06-25
32229,13,4,BEAUTY DAY(B076),1:44.53,28.21,NaN,NaN,NaN,NaN,NaN,28,57-1/4,NaN,NaN,NaN,NaN,03/03/2018,5,2018-03-03,B076_2018-03-03

In [33]:
# Switch values

sectional_time.loc[sectional_time['short_key'] == 'V325_2017-06-25',['margin_behind_2','margin_behind_6']] = sectional_time.loc[sectional_time['short_key'] == 'V325_2017-06-25',['margin_behind_6','margin_behind_2']].values

sectional_time.loc[sectional_time['short_key'] == 'B076_2018-03-03',['section_time_1','section_time_4']] = sectional_time.loc[sectional_time['short_key'] == 'B076_2018-03-03',['section_time_4','section_time_1']].values
sectional_time.loc[sectional_time['short_key'] == 'B076_2018-03-03',['margin_behind_1','margin_behind_2', 'margin_behind_5', 'margin_behind_6']] = sectional_time.loc[sectional_time['short_key'] == 'B076_2018-03-03',['margin_behind_5','margin_behind_6', 'margin_behind_1', 'margin_behind_2']].values

In [34]:
display(sectional_time.loc[sectional_time['short_key'] == 'V325_2017-06-25'])
display(sectional_time.loc[sectional_time['short_key'] == 'B076_2018-03-03'])

,finishing_order,horse_no,horse,time,section_time_1,section_time_2,section_time_3,section_time_4,section_time_5,section_time_6,margin_behind_1,margin_behind_2,margin_behind_3,margin_behind_4,margin_behind_5,margin_behind_6,date,match,formatted_date,short_key
25770,5,1,PAKISTAN STAR(V325),2:47.10,15.23,NaN,NaN,NaN,NaN,NaN,6-1/4,NaN,NaN,NaN,NaN,TO,25/06/2017,3,2017-06-25,V325_2017-06-25

,finishing_order,horse_no,horse,time,section_time_1,section_time_2,section_time_3,section_time_4,section_time_5,section_time_6,margin_behind_1,margin_behind_2,margin_behind_3,margin_behind_4,margin_behind_5,margin_behind_6,date,match,formatted_date,short_key
32229,13,4,BEAUTY DAY(B076),1:44.53,NaN,NaN,NaN,28.21,NaN,NaN,NaN,NaN,NaN,NaN,28,57-1/4,03/03/2018,5,2018-03-03,B076_2018-03-03

### merge sectional time to race result full

In [35]:
race_result_full.shape

(121877, 21)

In [36]:
sectional_time.shape

(121457, 20)

In [37]:
# = race_result_full.loc[race_result_full['short_key'].isin(sectional_time_miss)]
race_result_full.shape[0] - sectional_time.shape[0]

420

In [38]:
# merge
race_result_full_leftjoin_st = race_result_full.merge(sectional_time, on = 'short_key', how = 'left', suffixes = ('', '_dup'))

# check
race_result_full_leftjoin_st.shape

(121877, 40)

In [39]:
# drop duplicate columns

race_result_full_leftjoin_st.drop(list(race_result_full_leftjoin_st.filter(regex = '_dup')), axis = 1, inplace = True)

In [40]:
# get the participating horses here for normalization

race_result_full_leftjoin_st['participating_horse'] = race_result_full_leftjoin_st.groupby(['date', 'match'])['Plc'].transform('size')

### merge participating horses and prize_money to form_record (also sectional time information)

In [41]:
form_record_leftjoin = form_record.merge(race_result_full_leftjoin_st, how = 'left', on = 'key', suffixes = ('', '_dup'))

In [42]:
form_record_leftjoin.columns

Index(['RaceIndex', 'Pla', 'Date', 'RC/Track/Course', 'Dist', 'Ground',
       'RaceClass', 'Draw', 'Rating', 'Trainer', 'Jockey', 'LBW', 'WinOdds',
       'ActWt', 'RunPo', 'FinishTime', 'Declare_Horse_Wt', 'Gear',
       'VideoReplay', 'horseid', 'formatted_date', 'key', 'Plc', 'Horse No',
       'Horse', 'Jockey_dup', 'Trainer_dup', 'ActualWt', 'Declar_HorseWt',
       'Draw_dup', 'LBW_dup', 'RunningPosition', 'FinishTime_dup', 'Win_Odds',
       'date', 'match', 'cdr', 'prize_money', 'horseid_dup',
       'formatted_date_dup', 'short_key', 'Plc_PM', 'finishing_order',
       'horse_no', 'horse', 'time', 'section_time_1', 'section_time_2',
       'section_time_3', 'section_time_4', 'section_time_5', 'section_time_6',
       'margin_behind_1', 'margin_behind_2', 'margin_behind_3',
       'margin_behind_4', 'margin_behind_5', 'margin_behind_6',
       'participating_horse'],
      dtype='object')

In [43]:
form_record.shape

(83773, 22)

In [44]:
form_record_leftjoin.shape

(83773, 59)

In [45]:
# Merge dropped prize money back to form_record (due to invalid entry in race result)
form_record_leftjoin = form_record_leftjoin.merge(prize_money_table, on = ['key'], how='left', suffixes=('_less_invalid', '_after_2015'))

form_record_leftjoin['prize_money'] = form_record_leftjoin['prize_money_after_2015'].fillna(form_record_leftjoin['prize_money_less_invalid'])

# check any missing prize_money
form_record_leftjoin.loc[(form_record_leftjoin['prize_money'].isna())]

Empty DataFrame
Columns: [RaceIndex, Pla, Date, RC/Track/Course, Dist, Ground, RaceClass, Draw, Rating, Trainer, Jockey, LBW, WinOdds, ActWt, RunPo, FinishTime, Declare_Horse_Wt, Gear, VideoReplay, horseid, formatted_date, key, Plc, Horse No, Horse, Jockey_dup, Trainer_dup, ActualWt, Declar_HorseWt, Draw_dup, LBW_dup, RunningPosition, FinishTime_dup, Win_Odds, date, match, cdr, prize_money_less_invalid, horseid_dup, formatted_date_dup, short_key, Plc_PM, finishing_order, horse_no, horse, time, section_time_1, section_time_2, section_time_3, section_time_4, section_time_5, section_time_6, margin_behind_1, margin_behind_2, margin_behind_3, margin_behind_4, margin_behind_5, margin_behind_6, participating_horse, prize_money_after_2015, prize_money]
Index: []

[0 rows x 61 columns]

In [46]:
# Export for feature engineering

In [47]:
cd

/Users/lauchunlok

In [48]:
form_record_leftjoin.to_csv('HKJC-feature-engineering/form_record_clean.csv', index=False)